<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://resizeimageaz20420221116115837.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2430f2fa-d316-4a9a-9097-10708fe633ae/resourceGroups/nov16az204/providers/Microsoft.Web/sites/ResizeImageAz20420221116115837</ResourceId>
    <UserName>$ResizeImageAz20420221116115837</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://resizeimageaz20420221116115837.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>